@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  font-size: 10;
  color: #bfbfbf;
  font-family: Roboto;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #2d2d2d;
  scroll-behavior: smooth;
}
body * {
  /* border: 1px solid #bfbfbf; */
  color: inherit;
  padding: 1.3vh 1.3vw;
  gap: 1vh;
}

::-webkit-scrollbar {
  width: 0.8vw;
}
::-webkit-scrollbar-track {
  background: #444;
}
::-webkit-scrollbar-thumb {
  background: #777;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.header {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header_nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.page_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form * {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: lowercase;
}

input,
textarea {
  background-color: #4d4d4d;
}
input:hover,
textarea:hover {
  background-color: #6d6d6d;
}

.form textarea {
  width: 100%;
  text-align: left;
}

.ingredient_container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ingredient_header,
.ingredient_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ingredient_id_container,
.price_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ingredients {
  width: 100%;
}

.nutrients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.nutrient {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ingredients {
  text-transform: lowercase;
}
